<%- include('./partials/head') %>
    <%- include('./partials/header') %>





                <article class="kennisbank-article" id="top">
                    <h1>Toolboard</h1>
                    Vind hier meer informatie over de toegankelijkheid principes en richtlijnen:<% api.principes.forEach(principe=> { %>
                        <%= principe.titel %>
                            <%})%>
                  </article>
                
                <br>
                <br>
                
                  <article class="kennisbank-article" id="waarneembaar">
                    <h2>Waarneembaar. Principe 1</h2>
                    <p>Verklaring Digitale toegankelijkheid | Waarneembaar
                      <br>
                      <hr><br>
                      Informatie en componenten van de gebruikersinterface moeten toonbaar zijn aan gebruikers op voor hen
                      waarneembare
                      wijze.
                      <br><br>
                    </p>
                
                    <button class="accordion">Tekstalternatieven</button>
                    <div class="panel">
                      <p>
                        <br>
                      <h3>Richtlijn: 1.1</h3>
                      Lever tekstalternatieven voor alle niet-tekstuele content, zodat die veranderd kan worden in andere vormen die
                      mensen nodig hebben, zoals grote letters, braille, spraak, symbolen of eenvoudigere taal.
                      <br><br>
                      </p>
                    </div>
                    <br>
                    <button class="accordion">Op tijd gebaseerde media</button>
                    <div class="panel">
                      <p>
                        <br>
                      <h3>Richtlijn: 1.2</h3>
                      Lever alternatieven voor op tijd gebaseerde media.
                      <br><br>
                      </p>
                    </div>
                    <br>
                    <button class="accordion">Aanpasbaar</button>
                    <div class="panel">
                      <p>
                        <br>
                      <h3>Richtlijn: 1.3</h3>
                      Creëer content die op verschillende manieren gepresenteerd kan worden (bijvoorbeeld eenvoudiger lay-out) zonder
                      verlies van informatie of structuur.
                      <br><br>
                      </p>
                    </div>
                    <br>
                    <button class="accordion">Onderscheidbaar</button>
                    <div class="panel">
                      <p>
                        <br>
                      <h3>Richtlijn: 1.4</h3>
                      Maak het voor gebruikers gemakkelijker om content te horen en te zien, waaronder scheiding van voorgrond en
                      achtergrond.
                      <br><br>
                      </p>
                    </div>
                  </article>
                
                  <br>
                  <br>
                  
                    <article class="kennisbank-article" id="bedienbaar">
                        <h2>Bedienbaar. Principe 2</h2>
                        <p>Verklaring Digitale toegankelijkheid | Bedienbaar
                          <br>
                          <hr><br>
                          Componenten van de gebruikersinterface en navigatie moeten bedienbaar zijn.
                          <br><br>
                        </p>
                  
                        <button class="accordion">Toetsenbordtoegankelijk</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 2.1</h3>
                          Maak alle functionaliteit beschikbaar vanaf een toetsenbord.
                          <br><br>
                          </p>
                        </div>
                        <br>
                        <button class="accordion">Genoeg tijd</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 2.2</h3>
                          Geef gebruikers genoeg tijd om content te lezen en te gebruiken.
                          <br><br>
                          </p>
                        </div>
                        <br>
                        <button class="accordion">Toevallen en fysieke reacties</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 2.3</h3>
                          Ontwerp content niet op een manier waarvan bekend is dat die toevallen of fysieke reacties veroorzaakt.
                          <br><br>
                          </p>
                        </div>
                        <br>
                        <button class="accordion">Navigeerbaar</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 2.4</h3>
                          Lever manieren om gebruikers te helpen navigeren, content te vinden en te bepalen waar ze zijn.
                          <br><br>
                          </p>
                        </div>
                        <br>
                        <button class="accordion">Input Modaliteiten</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 2.5</h3>
                          Maak het eenvoudiger voor gebruikers om de functionaliteit te bedienen met andere vormen van invoer dan alleen
                          het toetsenbord.
                          <br><br>
                          </p>
                        </div>
                    </article>
                
                    <br>
                    <br>
                    
                      <article class="kennisbank-article" id="begrijpelijk">
                        <h2>Begrijpelijk. Principe 3</h2>
                        <p>Verklaring Digitale toegankelijkheid | Begrijpelijk
                          <br>
                          <hr><br>
                          Informatie en de bediening van de gebruikersinterface moeten begrijpelijk zijn.
                          <br><br>
                        </p>
                  
                        <button class="accordion">Leesbaar</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 3.1</h3>
                          Maak tekstcontent leesbaar en begrijpelijk.
                          <br><br>
                          </p>
                        </div>
                        <br>
                        <button class="accordion">Voorspelbaar</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 3.2</h3>
                          Maak het uiterlijk en de bediening van webpagina’s voorspelbaar.
                          <br><br>
                          </p>
                        </div>
                        <br>
                        <button class="accordion">Assistentie bij invoer</button>
                        <div class="panel">
                          <p>
                            <br>
                          <h3>Richtlijn: 3.3</h3>
                          Help gebruikers om fouten te vermijden en ze te verbeteren.
                          <br><br>
                          </p>
                        </div>
                      </article>
                
                      <br>
                      <br>
                      
                        <article class="kennisbank-article" id="robuust">
                            <h2>Robuust. Principe 4</h2>
                            <p>Verklaring Digitale toegankelijkheid | Robuust
                              <br>
                              <hr><br>
                              Content moet voldoende robuust zijn om betrouwbaar geïnterpreteerd te kunnen worden door een breed scala van
                              user agents, met inbegrip van hulptechnologieën.
                              <br><br>
                            </p>
                      
                            <button class="accordion">Compatibel</button>
                            <div class="panel">
                              <p>
                                <br>
                              <h3>Richtlijn: 4.1</h3>
                              Maximaliseer compatibiliteit met huidige en toekomstige user agents, met inbegrip van hulptechnologieën.
                              <br><br>
                              </p>
                            </div>
                        </article>


                    <%- include('./partials/foot') %>